NODE_ENV=production
PORT=10000
TIMEZONE=Asia/Amman

APP_NAME=Matbakh Al Youm Smart Center
BUSINESS_NAME=مطبخ اليوم المركزي
BUSINESS_PHONE=962779960015
BUSINESS_EMAIL=info@matbakh-alyoum.site
BUSINESS_WEBSITE=https://www.matbakh-alyoum.site

ADMIN_NUMBERS=962788328832,962799080840,96279960405

PAYMENT_METHODS=cash,cliq,wallet
DELIVERY_AREAS=all_jordan
DELIVERY_FEE_VISIBLE=false
ALLOW_LOCATION=false
MIN_ORDER=0
ENABLE_CAMPAIGNS=true
ENABLE_REORDER_LAST=false
VOICE_MODE=auto_text_voice
META_API_VERSION=v23.0

WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=
WHATSAPP_VERIFY_TOKEN=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

APP_BASE_URL=
